
.imgDiv{
  width: 50%;
  position: relative;
  height: 100%;
  background-image: url('https://i.pinimg.com/564x/c6/24/66/c6246602e5babd535634488f03d07a71.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
}



/* @media screen and (max-width:800px){
.main{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
} */
